* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background: #1b1f3a;
    min-height: 100vh;
    margin: 0;
}

/* //==================================================
//Header
//================================================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 143, 159);
    min-width: 100%;
}

.logo-image {
    padding: 10px 0 10px 10px;
    color: white;
}

.player-score {
    justify-content: center;
    color: white;
    padding: 15px;
}

#btc {
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;
}

#btc:hover {
    max-width: 55px;
    max-height: 55px;
    padding-right: 5px;
}

/* //==================================================
//Main Content 
//================================================== */

main {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 60vh;
    color: white;
    padding-top: 60px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 80px;
    grid-gap: 10px;
}

.square {
    border: 3px solid rgb(249, 126, 17);
    font-size: 105px;
    padding: 25px;
    min-height: 125px;
    min-width: 125px;
    text-align: center;
}

.square:hover {
    background: rgb(255, 255, 255, .15)
}

.square:first-child  {
    border-top: none;
}

.square:nth-child(2) {
    border-top: none;
}

.square:nth-child(3) {
    border-top: none;
    border-right: none;
}

.square:nth-child(6) {
    border-right: none;
}

.square:nth-child(7) {
    border-bottom: none;
}

.square:nth-child(8) {
    border-bottom: none;
}

.square:nth-child(9) {
    border-bottom: none;
    border-right: none;
}

.square:nth-child(3n + 1)  {
    border-left: none;
}

/* //==================================================
//Winning Screen
//================================================== */

/* .winning-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, .75)
} */

#restart-button {
    background: black;
    border: none;
    opacity: 0; 
    color: white;
    font-size: 36px;;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
}

/* // change restart-button opacity to 1 to show button */

/* #restart-button:hover {
    background: black;
    border: 2px solid hotpink;
    opacity: 1;
    color: hotpink;
    font-size: 46px;
    font-weight: 900;
    border-radius: 15px;
    padding: 10px;
} */

/* //==================================================
//Footer
//================================================== */

footer {
    display: flex;
    justify-content: center;
    background: lightgrey;
    padding: 45px;
    min-width: 100%;
    font-size: 14px;
    margin-top: auto;
}