* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    background: #1b1f3a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 143, 159);
    min-width: 100%;
}

.logo-image {
    padding: 10px 0 10px 10px;
    color: white;
}

.player-score {
    justify-content: center;
    color: white;
    padding: 25px;
}

#btc {
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;
}

main {
    display: flex;
    margin: 45px;
    padding: 45px;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.square {
    border: 3px solid rgb(249, 126, 17);
    font-size: 48px;
    padding: 25px;
    min-height: 55px;
    min-width: 55px;
}

footer {
    display: flex;
    justify-content: center;
    background: lightgrey;
    padding: 45px;
    min-width: 100%;
    font-size: 14px;

}